<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Expenses categories</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <table>
    <thead>
        <tr>
        	<th>Id</th>
        	 <th> Product </th>
            <th> Price </th>
                    
        </tr>
    </thead>
    <tbody>
    	 	<tr th:each="e : ${expenseType}">
    	 	<td><span th:text="${e.id}">id</span></td>
            <td><span th:text="${e.product}">Product</span></td>
            <td><span th:text="${e.price}">Price(RON)</span></td>
            
        </tr>
    </tbody>
</table>

</body>
</html>